:root {
    --color-background: #f3f3f3;
    --color-background-home: #f7f7f7;
    --color-background-footer: #333533;
    --color-black1: #242423;
    --color-black2: #3d3d3d;
    --color-white1: #ededed;
    --color-orange1: #ff5555;
    --color-yellow1: #F5CB5C;
    --color-prata: #CFDBD5;
    --color-green1: #19d65e;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body{
    background-color: var(--color-background);
}

a{
    text-decoration: none;
    transition: 0.2s;
    color: var(--color-white1);
}

a:-webkit-any-link {
    color: var(--color-white1);
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    transition: 0.5s;
    color: var(--color-yellow1);
}

main{
    width: auto;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
}